{{# if errors}}
    <div class="alert alert-danger">
        <ul>
            {{# each errors }}
                <li><h2>{{this.msg}}</h2></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

{{# if success}}
    <div class="alert alert-success">
        <ul>
                <li><h2>Successfully Publish The New Post</h2></li>
        </ul>
    </div>
{{/if}}


<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1>Create Product</h1>
                <hr>
                <form action="/post/publish" method="post" enctype="multipart/form-data">
                    <div class="form-group col-lg-4">
                        <label for="formGroupProductName">Product Name</label>
                        <input type="text" class="form-control" id="formGroupName" placeholder="Name" name="name">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="formGroupCategory">Product Category</label>
                        <select class="form-control" id="exampleFormControlCategory" name="category">
                            <option value="Ring">Ring</option>
                            <option value="Necklace">Necklace</option>
                            <option value="Earring">Earring</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="formGroupPost">Product Quantity</label>
                        <input type="number" class="form-control" id="formGroupQuantity" placeholder="00" name="quantity">
                    </div>
                    <div class="form-group col-lg-4" >
                        <label for="exampleFormControlFile1">Product Image</label>
                        <input type="file" class="form-control-file" id="exampleFormProductImage" name="productImage">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="formGroupMobile">Price</label>
                        <span class="input-group-addon">LKR</span>
                        <input type="number" class="form-control" id="formGroupPrice" placeholder="0000.00" name="price">
                    </div>
                    <div class="form-group col-lg-4">
                        <button type="submit" class="btn btn-primary" name="submit" value="create"
                                onclick="return confirm('Are You Sure ' +
                         'You Want To Add This Product..!');">Publish</button>
                        <a class="btn btn-warning" href="/" role="button">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>