{{#if error}}
<div class=" alert alert-warning">
    <h3>Try Again...If You NOT Register Yet..Please Register Now...
        <a class="btn btn-lg btn-primary" href="/register" role="button">Register Now</a></h3>

</div>


<br><br>

    <div class="alert alert-danger">
        <h3>Invalid Email Address OR Password</h3>
    </div>

{{/if}}
    <hr>

           <div class="container">
                <form action="/signIn" method="post">
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="exampleInputEmailAddress1">Email Address</label>
                            <input type="text" class="form-control" id="email" placeholder="Email Address" name="email">
                            <label for="exampleInputPassword">Password</label>
                            <input type="password" class="form-control" id="email" placeholder="Password" name="password">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" name="submit" value="Confirm">Log In</button>

                </form>
    </div>
