{{#if error}}
<div class=" alert alert-warning">
    <h3>Try Again...If You NOT Register Yet..Please Register Now...
        <a class="btn btn-lg btn-primary" href="/register" role="button">Register Now</a></h3>

</div>


<br><br>

    <div class="alert alert-danger">
        <h3>Invalid Email Address OR Password</h3>
    </div>

{{/if}}
<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1>Login</h1>
                <hr>
                <form action="/signIn" method="post">
                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmailAddress1">Email Address</label>
                        <input type="text" class="form-control" id="email" placeholder="Email Address" name="email">
                    </div>
                    <div class="form-group col-lg-4" >
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    </div>
                    <br>
                    <div class="form-group col-lg-4">
                        <button type="submit" class="btn btn-primary" name="submit" value="create">Login</button>
                        <a class="btn btn-warning" href="/" role="button">Cancel</a>
                    </div>
                </form>
                &nbsp&nbsp&nbsp
                <a  data-toggle="modal" data-target="#myModal234567" class="forgot-password" href="#">
                    Forgot the password?
                </a>
            </div>
            <br>
        </div>
    </div>
</section>

